@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
.bg-menu{
    border-bottom: 1px solid #ccc;
}

.logo-style{
    height: 58px;
}

ul li{
    list-style: none;
}

/*carousel*/
.carousel  .carousel-indicators button{
width: 10px;
height: 10px;
border-radius: 100%;
}

.carousel-item {
    background-position: center;
    background-size: cover;
}

.carousel-item .bg-size{
    object-fit: cover;
    height: 45vh;
    
}



/* section innert about*/
.img-about{
    width: 100px;
    height: 100px;
    object-fit: cover;

}


/* carrusel */


.carousel-inner .carousel-item {
    background-position: center;
    background-size: cover;
    
}